<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Hurtownie danych</title>
      <!-- import naszego css -->
    <link href="css/beautiful.css" rel="stylesheet">
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="js/hurtownie.js"></script>
  </head>
    
  <body ng-app="hurtownie" ng-controller="mainCtrl as c">
    <div class="container">
    <h1>Pobieranie danych</h1>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="cena">zł</span>
      </div>
      <input ng-model="c.param.cenaMin" type="number" class="form-control" id="cenaMinimalna" placeholder="Cena Minimalna" aria-label="cenamin">
      <input ng-model="c.param.cenaMax" type="number" class="form-control" id="cenaMaksymalna" placeholder="Cena Maksymalna" aria-label="cenamax">
    </div>
        
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="powierzchnia">m2</span>
      </div>
      <input ng-model="c.param.powMin" type="text" class="form-control" id="powierzchniaMinimalna" placeholder="Powierzchnia minimalna" aria-label="cenamin">
      <input ng-model="c.param.powMax" type="text" class="form-control" id="powierzchniaMaksymalna" placeholder="Powierzchnia maksymalna" aria-label="cenamax">
    </div>
        
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="wybraneWojewodztwo">Województwo</label>
      </div>
      <select class="custom-select" id="wybraneWojewodztwo" ng-model="c.param.woj">
        <option selected value="0">Wybierz...</option>
        <option value="1">dolnośląskie</option>
        <option value="2">kujawsko-pomorskie</option>
        <option value="3">lubelskie</option>
        <option value="4">lubuskie</option>
        <option value="5">łódzkie</option>
        <option value="6">małopolskie</option>
        <option value="7">mazowieckie</option>
        <option value="8">opolskie</option>
        <option value="9">podkarpackie</option>
        <option value="10">podlaskie</option>
        <option value="11">pomorskie</option>
        <option value="12">śląskie</option>
        <option value="13">świętokrzyskie</option>
        <option value="14">warmińsko-mazurskie</option>
        <option value="15">wielkopolskie</option>
        <option value="16">zachodniopomorskie</option>
      </select>
    </div>
        
    <div class="radio">
        <div class="leftRadio">
        <label><input type="radio" value="dom" name="TypDomu" checked ng-model="c.param.typdomu">Dom</label>
        </div>
        <div class="rightRadio">
        <label><input type="radio" value="sprzedaz" class= "rightradio" name="TypSprzedazy" checked ng-model="c.param.typsprzedazy">Sprzedaz</label>
        </div>
        <div class="leftRadio">
        <label><input type="radio" value="mieszkanie" class= "leftradio" name="TypDomu" ng-model="c.param.typdomu">Mieszkanie</label>
        </div>
        <div class="rightRadio">
        <label><input type="radio" value="wynajem" class= "rightradio" name="TypSprzedazy" ng-model="c.param.typsprzedazy">Wynajem</label>
        </div>
    </div>
    <br><br>
        
    <input class="btn btn-primary" ng-click="c.odczytDanych()" id="guzikZaglady" type="submit" value="Don't press it">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      </div>
<!--  <?php include 'scriptphp.php';?> -->
	
	<div ng-if="c.ogloszenia" ng-repeat="ogloszenie in c.ogloszenia" class="ogloszenie" style="background: white; border: 1px solid red; padding: 3px;">
		<div>Tytuł: {{ogloszenie["nazwa ogloszenia"]}}</div>
		<div>Cena: {{ogloszenie["cena"]}}</div>
		<div>Liczba pokoi: {{ogloszenie["liczba pokoi"]}}</div>
		<div>Metraż: {{ogloszenie["metraz"]}}</div>
	</div>
  </body>
</html>
