<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Hurtownie danych</title>
      <!-- import naszego css -->
    <link href="css/beautiful.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
      
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	
	
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
  </head>
    
<body ng-app="hurtownie" ng-controller="mainCtrl as mainC" ng-cloak>

	<div id="busyOverlay" style="
		position: fixed;
		top: 0;
		bottom: 0;
		left:0;
		right: 0;
		background: rgba(0, 0, 0, 0.9);
		z-index: 10;
		"
		ng-show="mainC.isBusy">
		<div style="
				position: relative;
				top: 35%;
				width: 20%;
				vertical-align: middle;
				margin: auto;
			"
			ng-include="'loading-icon.html'"></div>
	</div>

	<!-- NAVBAR MENU -->   
    <nav class="navbar navbar-expand-lg ">
        <div class="container">
            <a class="navbar-brand title-nav" href="#" ng-click="mainC.navigate('home')"><i class="fa fa-globe fa-1x"></i> Hurtownie danych</a>
  
            <div class="collape " id="navbarNav">
                <ul class="navbar-nav">
                    <li id="menu-home" class="nav-item" ng-class="{active: mainC.activePage == 'home'}" ng-click="mainC.navigate('home')">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li id="menu-etl" class="nav-item" ng-class="{active: mainC.activePage == 'etl'}" ng-click="mainC.navigate('etl')">
                        <a class="nav-link" href="#">Proces ETL</a>
                    </li>
                    <li id="menu-bd" class="nav-item" ng-class="{active: mainC.activePage == 'db'}" ng-click="mainC.navigate('db')">
                        <a class="nav-link" href="#">Operacje na bazie danych</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
	<main id="main">
		<div ng-show="mainC.activePage == 'home'"
			 ng-include="'home.html'"
			 ng-controller="homeCtrl as c">
		</div>		    
		
		<div ng-show="mainC.activePage == 'etl'"
			 ng-include="'etl.html'"
			 ng-controller="etlCtrl as c">
		</div> 
	  
		<div ng-show="mainC.activePage == 'db'"
			 ng-include="'db.html'"
			 ng-controller="dbCtrl as c">		
		</div>
	</main>
       
    
    <!-- Optional JavaScript -->	
	<script src="js/hurtownie.js"></script>
  </body>
</html>
